<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Categorias</title>
</head>

<body>

    <h1>Cadastro de Categoria</h1>

    <form th:action="@{/categorias/adicionar}" th:object="${novaCategoria}" method="post">
        <label>Nome da Categoria:</label>
        <input type="text" th:field="*{nome}" placeholder="Digite o nome da categoria" required />

        <button type="submit">Cadastrar</button>
    </form>

    <hr>

    <h2>Categorias cadastradas</h2>

    <ul>
        <li th:each="cat : ${categorias}" th:text="${cat.nome}">Nome da Categoria</li>
    </ul>

</body>
</html>
